@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900%display=swap');
@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@600&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

section{
  padding: 100px;
}

.yellow{
  color: #F3E11D;
}

.red{
  color: #A50021;
}

.fw600{
  font-weight: 600;
}

.w50{
  min-width: 50%;
}

.displayNone{
  display: none;
}

/* HEADER */

header{
  background-image: linear-gradient(to bottom, #fff, transparent);
  justify-content: space-between;
  padding: 40px 100px;
  align-items: center;
  transition: 500ms;
  position: fixed;
  display: flex;
  z-index: 1000;
  width: 100%;
  left: 0;
  top: 0;
}

header.sticky{
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  padding: 12px 100px 5px 100px;
  background-color: #F3E11D;
  background-image: none;
}

#logo{
  height: 100%;
}

header ul{
  position: relative;
  margin-bottom: 0px;
  display: flex;
}

header ul li{
  position: relative;
  list-style: none;
}

header ul li a {
  border-bottom: 4px solid transparent;
  text-decoration: none;
  display: inline-block;
  position: relative;
  transition: 200ms;
  font-size: 1.2em;
  font-weight: 500;
  color: #A50021;
  margin: 0px 15px;
  text-align: center;
}

header ul li a:hover{
  border-bottom: 4px solid #F3E11D;
  font-weight: bold;
  color: #A50021;
}

header.sticky ul li a:hover{
  border-bottom: 4px solid #A50021;
  color: #A50021;
}

/* BANNER */

.banner {
  background: url('../assets/banner.png');
  justify-content: space-between;
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  align-items: center;
  position: relative; 
  min-height: 100vh;
  display: flex;
}

.banner h2{
  line-height: 1.5em;
  font-weight: 500;
  color: #A50021;
  text-align: left;
  font-size: 3em;
}

.banner h2 span{
  text-align: left;
  font-size: 1.5em;
  font-weight: 700;
}

.banner h3{
  text-align: left;
  font-size: 1.5em;
  color: #A50021;
  font-weight: 500;
}

.aboutUsBtn{
  border: 1px solid transparent;
  text-transform: uppercase;
  text-decoration: none;
  background: #A50021;
  display: inline-block;
  letter-spacing: 2px;
  padding: 10px 30px;
  position: relative;
  transition: 200ms;
  color: #F3E11D;
  font-weight: 500;
  margin-top: 20px;
  font-size: 18px;
}

.aboutUsBtn:hover{
  text-decoration: none;
  font-weight: bold; 
  color: #F3E11D;
}

/* ABOUT US */

.heading{
  margin-bottom: 30px;
  text-align: center;
  color: #A50021;
  width: 100%;
}

.heading h2{
  font-weight: 600;
  font-size: 38px;
}

.aboutUs .content{
  justify-content: space-between;
  text-align: justify;
  display: flex;
}

.contentBx{
  padding-right: 30px;
  color: #A50021;
}

.contentBx h3{
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 24px;
}

.contentBx h4{
  font-weight: 700;
}

.front{
  height: 330px;
}

.front img{
  max-width: 100%;
}

.secondContentBx{
  flex-direction: row;
  color: #A50021;
  display: flex;
}

.textBx{
  padding-right: 30px;
  text-align: justify;
  margin-top: 50px;
  width: 50%;
}

.textBx h3{
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 24px;
}

/* SERVICES */

.services{
  background: #A50021;
}

.services .content{
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
}

.services .content .servicesBx{
  text-decoration: none;
  padding: 40px 20px;
  background: #fff;
  text-align: center;
  transition: 500ms;
  max-width: 30%;
  height: 250px;
  color: #A50021;
  border: none;
  margin: 20px;
  width: 300px;
}

.services .content .servicesBx:hover{
  background: #F3E11D;
}

.services .content .servicesBx img{
  margin-bottom: 15px;
  max-width: 80px;
}

.services .content .servicesBx h2{
  font-weight: 600;
  font-size: 20px;
}

.services .content .servicesBx p{
  border-bottom: 2px solid #A50021;
  font-weight: 500;
  display: inline;
  width: 100%;
}

.btnTipsBx{
  justify-content: space-evenly;
  display: flex;
  padding: 50px;
}

.tipsBtn{
  border: 1px solid transparent;
  text-transform: uppercase;
  text-decoration: none;
  background: #A50021;
  border-radius: 10px;
  letter-spacing: 1px;
  position: relative;
  transition: 200ms;
  color: #F3E11D;
  font-weight: 500;
  margin: 0px 5px;
  font-size: 16px;
  padding: 10px;
}

.tipsBtn:hover{
  text-decoration: none;
  background: #F3E11D;
  font-weight: bold; 
  color: #A50021;
}

/* LOCATION */

.location .content{
  justify-content: space-evenly;
  flex-direction: row;
  display: flex;
}

.addressContainer{
  text-align: center;
  background: #fff;
  margin-left: 10px;
  transition: 500ms;
  max-width: 50%;
  padding: 30px;
  width: 500px;
}
.addressContainer:hover{
  background: #F3E11D;
}

.addressContainer h3{
  font-weight: 600;
  color: #A50021;
}

.addressContainer p{
  color: #A50021;
}

.map{
  height: 300px;
  width: 100%;
}

/* CONTACT */

.contact{
  background: #A50021;
}

.contact .content{
  justify-content: space-between;
  text-align: justify;
  display: flex;
}

.contactInfo h3,
.formBx h3{
  margin-bottom: 10px;
  font-weight: 600;
  text-align: left;
  font-size: 24px;
  color: #fff;
}

.contactInfoBx{
  position: relative;
}

.contactInfoBx .box{
  position: relative;
  padding: 20px 0px;
  text-align: left;
  display: flex;
}

.contactInfoBx .box .icon{
  align-items: flex-start;
  justify-content: center;
  font-size: 24px;
  min-width: 40px;
  color: #fff;
  display: flex;
  padding: 4px;
}

.contactInfoBx .box .contactInfoText{
  flex-direction: column;
  margin-left: 20px;
  font-weight: 300;
  font-size: 16px;
  color: #fff;
  display: flex;
}

.contactInfoBx .box .contactInfoText h3{
  font-weight: 500;
  color: #F3E11D;
}

.formBx form{
  flex-direction: column;
  margin-top: 30px;
  display: flex;
}

.formBx form input,
.formBx form textarea{
  background: #c30f33;
  margin-bottom: 20px;
  font-size: 16px;
  padding: 15px;
  color: #fff;
  outline: none;
  border: none;
  resize: none;
}

.formBx form textarea{
  min-height: 200px;
  height: unset;
}

.formBx form input::placeholder,
.formBx form textarea::placeholder  {
  color: rgb(212, 212, 212);
}

.formBx form button{
  border: 1px solid transparent;
  text-transform: uppercase;
  background: #c30f33;
  letter-spacing: 2px;
  padding: 10px 30px;
  position: relative;
  transition: 200ms;
  color: #F3E11D;
  font-weight: 500;
  font-size: 18px;
  width: 150px;
}

.formBx form button:hover{
  text-decoration: none;
  background: #F3E11D;
  font-weight: bold; 
  color: #A50021;
}

/* PARTNERS */

.partners .content{
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
}

.partners .content .partnersBx{
  text-align: center;
  max-width: 160px;
  margin: 20px;
}

/* FOOTER */

.footer{
  background: #A50021;
  display: flex;
  padding: 50px;
  width: 100%;
}

.footerContent{
  justify-content: space-between;
  flex-direction: row;
  display: flex;
  width: 100%;
}

.logoBx{
  margin-left: 100px;
}

.logoBx a img{
  background: #fff;
  padding: 5px;
} 

.sloganBx{
  position: relative; 
  text-align: center;
  line-height: 1em;
  font-weight: 600;
  font-size: 24px;
  display: flex;
  color: #fff;
}

.sloganBx p{
  transform: translateY(-50%);
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  top: 50%;
}

.mediasBx{
  justify-content: center;
  flex-direction: row;
  margin-right: 100px;
  align-items: center;
  display: flex;
}

.mediasBx a img {
  border-radius: 10px;
  text-align: left;
  margin: 15px;
  width: 35px;
}

/* COPYRIGHT */

.copyrightDiv {
  background-color: #F3E11D;
  text-align: center;
  padding: 2px;
}

.linktrButton {
  text-decoration: none;
  border-radius: 10px;
  transition: 200ms;
  font-weight: 500;
  color: #A50021;
  padding: 2px;

}

.linktrButton:hover {
  background-color: #A50021;
  font-weight: bold;
  color: #F3E11D;
  padding: 1px;
}

/* RESPONSIVE */

@media (max-width: 1125px) and (min-width: 991px){
  header{
    padding: 40px 30px;
  }

  header.sticky{
   padding: 10px;
  }

  header ul li a{
    top: 50%;
    transform: translateY(-50%);
  }

  .banner{
    background-size: cover;
  }
}

@media (max-width: 991px){
  
  header,
  header.sticky {
    padding: 10px;
    z-index: 1000;
  }

  header{
    background: #fff;
    width: 100vw;
  }

  .menu{
    border-top: 1px solid rgba(165, 0, 33, 0.5);
    padding: 100px 50px;
    text-align: center;
    background: #fff;
    transition: 500ms;
    position: fixed;
    display: block;
    height: 100vh;
    z-index: 999;
    width: 100%;
    left: -100%;
    top: 120px;
  }

  .menu.active{
    left: 0;
  }

  header ul li a{
    font-size: 24px;
    margin: 10px;
  }

  .toggle{
    background-image: url("../assets/icons/menu.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    cursor: pointer;
    height: 40px;
    width: 40px;
  }

  .toggle.active{
    background-image: url("../assets/icons/close.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
  }

  section{
    padding: 100px 50px;
    position: relative;
  }

  .banner{
    padding: 150px 50px 100px;
    background-size: cover;
  }

  .banner h2{
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .banner h3{
    font-weight: bold;
    font-size: 1rem;
  }

  .aboutUsBtn{
    padding: 10px 20px;
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
  }

  .textBx{
    width: 100%;
  }

  .contentBx h3{
    font-size: 20px;
  }

  .contentBx h3,
  .contentBx p {
    display: flex;
  }

  .content{
    flex-direction: column;
  }

  .secondContentBx{
    display: none;
  }

  .front{
    overflow: hidden;
    text-align: center;
  }

  .front img{
    transform: translateX(-50%);
    position: absolute;
    max-height: 400px;
    bottom: 100px;
    padding: 10px;
  }

  .servicesBx{
    min-width: 300px;
  }

  .footerContent{
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  
  .logoBx {
    margin: 20px 0;
  }
  
  .sloganBx{
    margin: 20px 0;
  }
  
  .mediasBx{
    margin: 20px 0;
  }
  
  .location .content{
    flex-direction: column;
    align-items: center;
    display: flex;
  }
  
  .location{
    padding: 100px 0;
  }

  .addressContainer{
    max-width: unset;
    margin: 15px;
    width: 100%;
  }

  .btnTipsBx{
    padding: 10px;
  }
}