@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900%display=swap');

*{
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

section{
  padding: 100px;
}

.yellow{
  color: #F3E11D;
}

.red{
  color: #A50021;
}

/* HEADER */

header{
  background-image: linear-gradient(to bottom, #fff, transparent);
  justify-content: space-between;
  padding: 40px 100px;
  align-items: center;
  transition: 500ms;
  position: fixed;
  display: flex;
  z-index: 1000;
  width: 100%;
  left: 0;
  top: 0;
}

header.sticky{
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  padding: 12px 100px 5px 100px;
  background-color: #F3E11D;
  background-image: none;
}

#logo{
  height: 100%;
}

header ul{
  position: relative;
  margin-bottom: 0px;
  display: flex;
}

header ul li{
  position: relative;
  list-style: none;
}

header ul li a {
  border-bottom: 4px solid transparent;
  text-decoration: none;
  display: inline-block;
  position: relative;
  transition: 200ms;
  font-size: 1.2em;
  font-weight: 500;
  color: #A50021;
  margin: 0px 15px;
}

header ul li a:hover{
  border-bottom: 4px solid #F3E11D;
  font-weight: bold;
  color: #A50021;
}

header.sticky ul li a:hover{
  border-bottom: 4px solid #A50021;
  color: #A50021;
}

/* BANNER */

.banner {
  background: url('../assets/banner.png');
  justify-content: space-between;
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  align-items: center;
  position: relative; 
  min-height: 100vh;
  display: flex;
}

.banner h2{
  line-height: 1.5em;
  font-weight: 500;
  color: #A50021;
  font-size: 3em;
}

.banner h2 span{
  font-size: 1.5em;
  font-weight: 700;
}

.banner h3{
  font-size: 1.5em;
  color: #A50021;
  font-weight: 500;
}

.aboutUsBtn{
  border: 1px solid transparent;
  text-transform: uppercase;
  text-decoration: none;
  background: #A50021;
  display: inline-block;
  letter-spacing: 2px;
  padding: 10px 30px;
  position: relative;
  transition: 200ms;
  color: #F3E11D;
  font-weight: 500;
  margin-top: 20px;
  font-size: 18px;
}

.aboutUsBtn:hover{
  text-decoration: none;
  font-weight: bold; 
  color: #F3E11D;
}

/* ABOUT US */

.heading{
  margin-bottom: 30px;
  text-align: center;
  color: #A50021;
  width: 100%;
}

.heading h2{
  font-weight: 600;
  font-size: 38px;
}

.content{
  justify-content: space-between;
  display: flex;
}

.contentBx{
  padding-right: 30px;
  color: #A50021;
}

.contentBx h3{
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 24px;
}

.contentBx h4{
  font-weight: 700;
}

.w50{
  min-width: 50%;
}

img{
  max-width: 100%;
}

/* SERVICES */

.services{
  background: #A50021;
}

.services .content{
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
}

.services .content .servicesBx{
  text-decoration: none;
  padding: 40px 20px;
  background: #fff;
  text-align: center;
  transition: 500ms;
  max-width: 340px;
  height: 250px;
  color: #A50021;
  border: none;
  margin: 20px;
  width: 25%;
}

.services .content .servicesBx:hover{
  background: #F3E11D;
}

.services .content .servicesBx img{
  margin-bottom: 15px;
  max-width: 80px;
}

.services .content .servicesBx h2{
  font-weight: 600;
  font-size: 20px;
}

.services .content .servicesBx p{
  border-bottom: 2px solid #A50021;
  font-weight: 500;
  display: inline;
  width: 100%;
}

/* PARTNERS */

.partners .content{
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
}

.partners .content .partnersBx{
  text-align: center;
  max-width: 160px;
  margin: 20px;
}

/* CONTACT */

.contact{
  background: #A50021;
}

.square{

  width: 100px;
  height: 100px;
  background:#fff
}